spring:
  config:
    activate:
      on-profile: dev

actuator:
  base-url: http://localhost:8090/actuator

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true